In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [3]:
#Use this dictionary to store your answers in the correct format in the cells below , do not modify the keys
answer_dict =  {"Q1" : None,
                "Q2" : None,
                "Q3" : None,
                "Q4" : None,
                "Q5" : None,
                "Q6" : None,
                "Q7" : None}

In [4]:
df.head(100)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Acura,Legend,1987,2.7,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,18.311667,16,22,18,493.722222,1850
96,Acura,Legend,1987,2.7,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,23,19,467.736842,1750
97,Acura,Legend,1988,2.7,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,18.311667,16,21,18,493.722222,1850
98,Acura,Legend,1988,2.7,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,22,19,467.736842,1750
99,Acura,Legend,1989,2.7,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,18.311667,16,20,18,493.722222,1850

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [6]:
##Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?
##Format: A floating number

In [7]:
volkswagen_df = df[df.Make == "Volkswagen"].copy()

In [8]:
volkswagen_df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
34128,Volkswagen,Beetle,2012,2.0,4.0,Automatic (S6),Front-Wheel Drive,Subcompact Cars,Premium,13.184400,22,30,25,355.480000,1600
34129,Volkswagen,Beetle,2012,2.5,5.0,Automatic (S6),Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,29,25,355.480000,1350
34130,Volkswagen,Beetle,2012,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Subcompact Cars,Premium,13.733750,21,30,24,370.291667,1700
34131,Volkswagen,Beetle,2012,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,31,25,355.480000,1350
34132,Volkswagen,Beetle,2013,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Diesel,11.943281,28,41,32,313.000000,1150

In [9]:
media = volkswagen_df["CO2 Emission Grams/Mile"].mean()

In [10]:
print(media)

392.7417210857633

In [12]:
answer_dict["Q1"] =  media

In [13]:
###Q2.Calculate the top 5 brands(Make) with the most unique models, 
###order your answer in descending order with respect to the number of unique models.

In [14]:
df3 = df.groupby(['Make']).agg({'Make':'count'}).rename(columns={'Make':'count'}).reset_index()
(df3.sort_values('count',ascending=False)).head(5).values.tolist()

[['Chevrolet', 3643],
 ['Ford', 2946],
 ['Dodge', 2360],
 ['GMC', 2347],
 ['Toyota', 1836]]

In [15]:
answer_dict["Q2"] =  (df3.sort_values('count',ascending=False)).head(5).values.tolist()
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Chevrolet', 3643],
  ['Ford', 2946],
  ['Dodge', 2360],
  ['GMC', 2347],
  ['Toyota', 1836]],
 'Q3': None,
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

In [16]:
#"""Q3. What are all the different types of fuels in the dataset sorted alphabetically?
#Format: A list of strings sorted alphabetically.
#Example Answer: ['Regular', 'Premium']
df4 = df['Fuel Type'].unique()
df4

array(['Regular', 'Premium', 'Diesel', 'Premium and Electricity',
       'Premium or E85', 'Premium Gas or Electricity', 'Gasoline or E85',
       'Gasoline or natural gas', 'CNG', 'Regular Gas or Electricity',
       'Midgrade', 'Regular Gas and Electricity', 'Gasoline or propane'],
      dtype=object)

In [17]:
print(sorted(df4))

['CNG', 'Diesel', 'Gasoline or E85', 'Gasoline or natural gas', 'Gasoline or propane', 'Midgrade', 'Premium', 'Premium Gas or Electricity', 'Premium and Electricity', 'Premium or E85', 'Regular', 'Regular Gas and Electricity', 'Regular Gas or Electricity']

In [18]:
answer_dict["Q3"] =  sorted(df4)

In [19]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Chevrolet', 3643],
  ['Ford', 2946],
  ['Dodge', 2360],
  ['GMC', 2347],
  ['Toyota', 1836]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

In [166]:
#Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. 
#Show the car Model, Year and their Fuel Barrels/Year in standard deviation units(Z-score) sorted in descending 
#order by their Fuel Barrels/Year in absolute terms first and then by year in descending order 
#BUT without modifying the negative values (see example).

In [20]:
toyota_df = df[df.Make == "Toyota"].copy()
toyota_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1836 entries, 32281 to 34116
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     1836 non-null   object
 1   Model                    1836 non-null   object
 2   Year                     1836 non-null   int64
 3   Engine Displacement      1836 non-null   float64
 4   Cylinders                1836 non-null   float64
 5   Transmission             1836 non-null   object
 6   Drivetrain               1836 non-null   object
 7   Vehicle Class            1836 non-null   object
 8   Fuel Type                1836 non-null   object
 9   Fuel Barrels/Year        1836 non-null   float64
 10  City MPG                 1836 non-null   int64
 11  Highway MPG              1836 non-null   int64
 12  Combined MPG             1836 non-null   int64
 13  CO2 Emission Grams/Mile  1836 non-null   float64
 14  Fuel Cost/Year           1836 non-null   int64
dtypes: float64(4), int64(5), object(6)
memory usage: 229.5+ KB

In [21]:
toyota_df_sub_set = toyota_df[['Model','Year','Fuel Barrels/Year']].copy()
toyota_df_sub_set

                 Model  Year  Fuel Barrels/Year
32281  1-Ton Truck 2WD  1985          15.695714
32282  1-Ton Truck 2WD  1985          15.695714
32283  1-Ton Truck 2WD  1986          15.695714
32284  1-Ton Truck 2WD  1986          14.330870
32285  1-Ton Truck 2WD  1987          15.695714
...                ...   ...                ...
34112            Yaris  2016           9.988182
34113            Yaris  2017          10.300313
34114            Yaris  2017           9.988182
34115         Yaris iA  2017           9.694412
34116         Yaris iA  2017           9.417429

[1836 rows x 3 columns]

In [22]:
#data_z = (toyota_df['Fuel Barrels/Year']-toyota_df['Fuel Barrels/Year'].mean())/(toyota_df['Fuel Barrels/Year'].std())
#data_z = (toyota_df-toyota_df.mean())/(toyota_df.std())
toyota_df_sub_set['Zscore'] = stats.zscore(toyota_df_sub_set['Fuel Barrels/Year'])
toyota_df_sub_set_sorted = toyota_df_sub_set.sort_values(['Zscore','Year'],ascending=True)
answer4 = toyota_df_sub_set_sorted.head(9).set_index('Model')
print(answer4)

                      Year  Fuel Barrels/Year    Zscore
Model
Camry CNG             1999           0.080870 -3.933613
Camry CNG             2000           0.084545 -3.932714
Camry CNG             2001           0.084545 -3.932714
Prius Plug-in Hybrid  2013           4.737144 -2.794050
Prius Plug-in Hybrid  2014           4.737144 -2.794050
Prius Plug-in Hybrid  2015           4.737144 -2.794050
Prius Plug-in Hybrid  2012           4.744612 -2.792222
Prius Eco             2016           5.885893 -2.512908
Prius Eco             2017           5.885893 -2.512908

In [23]:
answer_dict["Q4"] =  answer4
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Chevrolet', 3643],
  ['Ford', 2946],
  ['Dodge', 2360],
  ['GMC', 2347],
  ['Toyota', 1836]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4':                       Year  Fuel Barrels/Year    Zscore
 Model
 Camry CNG             1999           0.080870 -3.933613
 Camry CNG             2000           0.084545 -3.932714
 Camry CNG             2001           0.084545 -3.932714
 Prius Plug-in Hybrid  2013           4.737144 -2.794050
 Prius Plug-in Hybrid  2014           4.737144 -2.794050
 Prius Plug-in Hybrid  2015           4.737144 -2.794050
 Prius Plug-in Hybrid  2012           4.744612 -2.792222
 Prius Eco             2016           5.885893 -2.512908
 Prius Eco             2017           5.885893 -2.512908,
 'Q5': None,
 'Q6': None,
 'Q7': None}

In [171]:
#Q5. Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 
#5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG 
#in a list sorted by Year in ascending order.

In [24]:
volkswagen_df2 = (df[(df['Make'] == "Volkswagen")  & (df['Model'] == "Golf") & (df['Transmission'] == "Manual 5-spd") &(df['Fuel Type'] == "Regular")   ].copy())
volkswagen_df2_filtered = volkswagen_df2[['Year','Combined MPG']].copy()
volkswagen_df2_filtered.set_index('Year')

      Combined MPG
Year
1986            26
1987            26
1988            25
1989            25
1999            24
2000            24
2001            24
2002            24
2003            24
2004            24
2005            24
2006            24
2010            25
2011            26
2012            26
2013            26
2015            30
2016            30
2017            29

In [26]:
volkswagen_df2_filtered['Difference'] = volkswagen_df2_filtered['Combined MPG'].diff()
answer5 = volkswagen_df2_filtered.fillna(0.0).set_index('Year').head(19)
answer5

      Combined MPG  Difference
Year
1986            26         0.0
1987            26         0.0
1988            25        -1.0
1989            25         0.0
1999            24        -1.0
2000            24         0.0
2001            24         0.0
2002            24         0.0
2003            24         0.0
2004            24         0.0
2005            24         0.0
2006            24         0.0
2010            25         1.0
2011            26         1.0
2012            26         0.0
2013            26         0.0
2015            30         4.0
2016            30         0.0
2017            29        -1.0

In [27]:
answer_dict["Q5"] =  answer5
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Chevrolet', 3643],
  ['Ford', 2946],
  ['Dodge', 2360],
  ['GMC', 2347],
  ['Toyota', 1836]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4':                       Year  Fuel Barrels/Year    Zscore
 Model
 Camry CNG             1999           0.080870 -3.933613
 Camry CNG             2000           0.084545 -3.932714
 Camry CNG             2001           0.084545 -3.932714
 Prius Plug-in Hybrid  2013           4.737144 -2.794050
 Prius Plug-in Hybrid  2014           4.737144 -2.794050
 Prius Plug-in Hybrid  2015           4.737144 -2.794050
 Prius Plug-in Hybrid  2012           4.744612 -2.792222
 Prius Eco             2016           5.885893 -2.512908
 Prius Eco             2017           5.885893 -2.512908,
 'Q5':       Combined MPG  Difference
 Year
 1986            26         0.0
 1987            26         0.0
 1988            25        -1.0
 1989            25         0.0
 1999            24        -1.0
 2000            24         0.0
 2001            24         0.0
 2002            24         0.0
 2003            24         0.0
 2004            24         0.0
 2005            24         0.0
 2006            24         0.0
 2010            25         1.0
 2011            26         1.0
 2012            26         0.0
 2013            26         0.0
 2015            30         4.0
 2016            30         0.0
 2017            29        -1.0,
 'Q6': None,
 'Q7': None}

In [35]:
#Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: 
#Toyota, Ford, Volkswagen, Nissan, Honda
Brands_df = (df[(df['Make']=='Toyota') | (df['Make']=='Ford') | (df['Make']=='Volkswagen') | (df['Make']=='Nissan') | (df['Make']=='Honda')]).sort_values('CO2 Emission Grams/Mile',ascending=True)[['Make','CO2 Emission Grams/Mile']]
answer6 = (Brands_df.groupby(by='Make').apply(lambda x:x.nsmallest(5,['CO2 Emission Grams/Mile']))).set_index('Make').copy()
answer6

            CO2 Emission Grams/Mile
Make
Ford                     112.000000
Ford                     129.000000
Ford                     129.000000
Ford                     129.000000
Ford                     129.000000
Honda                    130.000000
Honda                    167.679245
Honda                    167.679245
Honda                    167.679245
Honda                    167.679245
Nissan                   249.000000
Nissan                   254.000000
Nissan                   254.500000
Nissan                   254.500000
Nissan                   254.500000
Toyota                   133.000000
Toyota                   133.000000
Toyota                   133.000000
Toyota                   133.000000
Toyota                   158.000000
Volkswagen               200.000000
Volkswagen               200.000000
Volkswagen               200.000000
Volkswagen               200.000000
Volkswagen               261.025641

In [204]:
answer_dict["Q6"] =  answer6
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Chevrolet', 3643],
  ['Ford', 2946],
  ['Dodge', 2360],
  ['GMC', 2347],
  ['Toyota', 1836]],
 'Q3': ['CNG',
  'Diesel',
  'Gasoline or E85',
  'Gasoline or natural gas',
  'Gasoline or propane',
  'Midgrade',
  'Premium',
  'Premium Gas or Electricity',
  'Premium and Electricity',
  'Premium or E85',
  'Regular',
  'Regular Gas and Electricity',
  'Regular Gas or Electricity'],
 'Q4':                       Year  Fuel Barrels/Year    Zscore
 Model
 Camry CNG             1999           0.080870 -3.933613
 Camry CNG             2000           0.084545 -3.932714
 Camry CNG             2001           0.084545 -3.932714
 Prius Plug-in Hybrid  2013           4.737144 -2.794050
 Prius Plug-in Hybrid  2014           4.737144 -2.794050
 Prius Plug-in Hybrid  2015           4.737144 -2.794050
 Prius Plug-in Hybrid  2012           4.744612 -2.792222
 Prius Eco             2016           5.885893 -2.512908
 Prius Eco             2017           5.885893 -2.512908,
 'Q5':       Combined MPG  Difference
 Year
 1986            26         0.0
 1987            26         0.0
 1988            25        -1.0
 1989            25         0.0
 1999            24        -1.0
 2000            24         0.0
 2001            24         0.0
 2002            24         0.0
 2003            24         0.0
 2004            24         0.0
 2005            24         0.0
 2006            24         0.0
 2010            25         1.0
 2011            26         1.0
 2012            26         0.0
 2013            26         0.0
 2015            30         4.0
 2016            30         0.0
 2017            29        -1.0,
 'Q6':             CO2 Emission Grams/Mile
 Make
 Ford                     112.000000
 Ford                     129.000000
 Ford                     129.000000
 Ford                     129.000000
 Ford                     129.000000
 Honda                    130.000000
 Honda                    167.679245
 Honda                    167.679245
 Honda                    167.679245
 Honda                    167.679245
 Nissan                   249.000000
 Nissan                   254.000000
 Nissan                   254.500000
 Nissan                   254.500000
 Nissan                   254.500000
 Toyota                   133.000000
 Toyota                   133.000000
 Toyota                   133.000000
 Toyota                   133.000000
 Toyota                   158.000000
 Volkswagen               200.000000
 Volkswagen               200.000000
 Volkswagen               200.000000
 Volkswagen               200.000000
 Volkswagen               261.025641,
 'Q7': None}

In [36]:
#q7
(pd.Series(df['Year'])//5).value_counts(sort=False)

396     645
397    6213
399    4069
400    4837
402    5750
403    3349
398    5341
401    5748
Name: Year, dtype: int64

In [40]:
answer_dict

{'Q1': 392.74172108576107,
 'Q2': None,
 'Q3': None,
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}